body{
	min-height: 100vh;
	margin: 0;
	position: relative;
	background: radial-gradient(circle at 2vw 10vw, #FFB046, transparent 6%), radial-gradient(circle at 35vw -15vw, #c7ff9c, transparent 35%);

	.video-wrapper{
		height: 100vh;
		position: relative;

		& #intro-video{
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		& a{
			position: absolute;
			display: block;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			z-index: 10;
		}
	}


	.main-wrapper{
		min-height: 100vh;
	}

	& .row{
		margin: 0;

		& .col{
			// padding: clamp(5px, 2vw, 30px);
			padding: 0;
			box-sizing: border-box;
		}
	}

	& .content-wrapper{
		display: flex;
		flex-direction: column;
		height: 100%;
	}

	& .additional-navi{
		flex-grow: 1;
		display: flex;
		align-items: center;
		width: 100%;

		& .row{
			width: 100%;
		}
	}

	& .map-header{

		display: flex;
		align-items: center;
		border-radius: 10px;
		padding: 40px;

		@media(max-width: 2000px){
			padding: 10px;
		}

		& h1{
			font-size: 72px;
			color: $primary;
			margin-right: 30px;
		}

		& .intro{
			padding: 20px;
			box-sizing: border-box;
			border-radius: 10px;
			font-size: 20px;

			@media(max-width: 2000px){
				font-size: 17px;
			}
		}
	}

	& .tab-content{
		display: none;

		& h2{
			color: $primary;
			font-size: 64px;
			line-height: 1em;
			margin: 0;
			margin-bottom: 1rem;
		}

		&.active{
			display: block;
		}

		& .auditory{

			display: flex;
			padding: 15px;
			margin-bottom: 20px;
			background-color: #F3F3F3;
			border-radius: 5px;
			align-items: center;

			@media(max-width: 2000px){
				padding: 10px;
				margin-bottom: 10px;
			}

			& .names{
				font-size: 19.5px;
				font-weight: 500;
				
				@media(max-width: 2000px){
					font-size: 17px;
					font-weight: 400;
				}
			}

			& .room-wrapper{
				
				color: #7D7D7D;
				margin-right: 20px;

				& .room{
					font-size: 40px;

					@media(max-width: 2000px){
						font-size: 32px;
					}
				}

				& .suffix{
					font-size: 18px;
				}
			}

			&.active{
				background-color: $accent;
				color: #fff;

				& .room-wrapper{

					& .room{
						color: #fff;
					}

					& .suffix{
						color: #fff;
					}
				}
			}
		}
	}

	& .navi-wrapper{
		background-color: $primary-light;
		box-shadow: 0 4px 100px rgba(#026D7D, .25);
		padding: 20px !important;

		& .tabs{
			margin-bottom: $gutter-width;

			& a{
				font-size: 32px;
				font-weight: 800;
			}
		}
	}

	.qr-wrapper{
		box-shadow: 0 0 0 2px $accent inset;
		display: flex;
		width: fit-content;
		padding: 20px;
		border-radius: 10px;
		color: $accent;

		& > *{
			width: 50%;
			flex-shrink: 0;
		}

		& .text{
			font-size: 20px;
			font-weight: 600;
		}

		& .image{

			text-align: right;

			& img{
				margin-left: auto;
			}
		}
	}
	
	.bottom-button{

		display: flex;
		flex-direction: column;
		width: calc(100% - #{$gutter-width});
		height: 100%;
		padding: 20px;
		background-color: $inactive;
		color: #fff;
		font-size: 20px;
		border-radius: 10px;

		& > span{
			flex-grow: 1;
		}

		& .bbottom{
			display: flex;
			align-items: flex-end;

			& .prefix{
				flex-grow: 1;
				font-size: 18px;
				color: rgba(#fff, .5);
			}
		}
	}

	.inactive-modal{
		position: fixed;
		z-index: 900;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
		background: rgba(black, .6);
		color: #fff;
		backdrop-filter: blur(10px);

		& div{
			line-height: 1.4em;
			margin: 0;
			
			&:nth-child(1){
				font-size: 64px;
				font-weight: 800;
				text-transform: uppercase;
			}

			&:nth-child(2){
				font-size: 31px;
				font-weight: 800;
				padding: 40px 0;

				& strong{
					font-size: 96px;
				}
			}

			&:nth-child(3){
				font-size: 64px;
			}
			
		}

		& .img-wrapper{

			& img{
				mix-blend-mode: screen;
			}
		}
	}
}