.tabs{
	list-style: none;
	padding: 0;
	display: flex;
	position: relative;
	overflow: hidden;
	justify-content: center;
	z-index: 1;
	margin: 20px auto;
	border-radius: 8px;
	box-shadow: 0 0 0 1px $secondary;
	margin-bottom: 0;

	& li{
		display: block;
		width: 50%;
	}
	
	& a{
		text-decoration: none;
		display: block;
		padding: 20px 40px;
		box-sizing: border-box;
		display:block;
		color: $secondary;
		font-weight: 700;
		text-align: center;
		font-size: 20px;
	}
	
	& .tab.active a{
		color: #fff;
		transition: color .4s;
	}
	
	& .indicator{
		position: relative;
		position: absolute;
		top: 0px;
		left: 0px;
		right: 0px;
		bottom: 0px;
		will-change: left, right;
		background-color: $secondary;
		z-index: -1;
	}
}